#!/bin/bash

#################################
#Prepare the environment
#################################


#Install kubectl and awscli
curl -O https://s3.us-west-2.amazonaws.com/amazon-eks/1.24.9/2023-01-11/bin/linux/amd64/kubectl
sudo chmod +x ./kubectl
mkdir -p $HOME/bin && cp ./kubectl $HOME/bin/kubectl && export PATH=$PATH:$HOME/bin
echo 'export PATH=$PATH:$HOME/bin' >> ~/.bashrc

yum remove -y aws-cli
curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
unzip -u awscliv2.zip > /dev/null
./aws/install -i /usr/local/aws-cli -b /usr/local/bin

yum install -y python3-pip
#sudo pip3 install --upgrade awscli && hash -r

#Install yq for yaml processing
sudo yum -y install jq gettext bash-completion moreutils

echo 'export PATH=$PATH:/usr/local/bin/' >> ~/.bashrc
echo 'yq() {
  docker run --rm -i -v "${PWD}":/workdir mikefarah/yq "$@"
}' | tee -a ~/.bashrc && source ~/.bashrc

kubectl completion bash >>  ~/.bash_completion
. ~/.bash_completion

echo 'export LBC_VERSION="v2.0.0"' >>  ~/.bash_profile
.  ~/.bash_profile

#Set and validate the IAM role for the new environment
echo ${HOME}
mkdir -p ${HOME}/.aws/
cat << EOF > ${HOME}/.aws/credentials
[default]
aws_access_key_id = {{aws_access_key}}
aws_secret_access_key = {{aws_secret_key}}

EOF

export ACCOUNT_ID=$(aws sts get-caller-identity --output text --query Account)
export AWS_REGION=$(curl -s 169.254.169.254/latest/dynamic/instance-identity/document | jq -r '.region')
test -n "$AWS_REGION" && echo AWS_REGION is "$AWS_REGION" || echo AWS_REGION is not set
echo "export ACCOUNT_ID=${ACCOUNT_ID}" | tee -a ~/.bash_profile
echo "export AWS_REGION=${AWS_REGION}" | tee -a ~/.bash_profile
aws configure set default.region ${AWS_REGION}
aws configure get default.region
#aws sts get-caller-identity --query Arn | grep toptal-project -q && echo "IAM role valid" || echo "IAM role NOT valid"

#Create a CMK(custom management key) for the EKS cluster to use when encrypting your Kubernetes secrets
aws kms create-alias --alias-name alias/toptal --target-key-id $(aws kms create-key --query KeyMetadata.Arn --output text)
export MASTER_ARN=$(aws kms describe-key --key-id alias/toptal --query KeyMetadata.Arn --output text)
echo "export MASTER_ARN=${MASTER_ARN}" | tee -a ~/.bash_profile

#We deploy the Kubernetes cluster in a custom VPC. So we need the VpcId and SubnetIds
export VPC_ID=$(aws ec2 describe-vpcs --filters Name=tag:Name,Values="NC VPC" --query "Vpcs[0].VpcId")
export SUBNETa_ID=$(aws ec2 describe-subnets --filters "Name=vpc-id,Values=$VPC_ID" "Name=availability-zone,Values=${AWS_REGION}a" "Name=tag:Name,Values="*Public*"" --query "Subnets[0].SubnetId")
export SUBNETb_ID=$(aws ec2 describe-subnets --filters "Name=vpc-id,Values=$VPC_ID" "Name=availability-zone,Values=${AWS_REGION}b" "Name=tag:Name,Values="*Public*"" --query "Subnets[0].SubnetId")

#################################
#Depoy Kubernetes
#################################


#Cluster deployment tools installation
curl --silent --location "https://github.com/weaveworks/eksctl/releases/latest/download/eksctl_$(uname -s)_amd64.tar.gz" | tar xz -C /tmp

sudo mv -v /tmp/eksctl /usr/local/bin
/usr/local/bin/eksctl version
/usr/local/bin/eksctl completion bash >> ~/.bash_completion
. ~/.bash_completion
export KUBECONFIG=/root/.kube/config

#Create an eksctl deployment file (toptal.yaml) use in creating your cluster using the following syntax

cat << EOF > ${HOME}/toptal.yaml
---
apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: toptal-eksctl
  region: ${AWS_REGION}

vpc:
  id: ${VPC_ID}
  cidr: "11.0.0.0/16"
  subnets:
    public:
      ${AWS_REGION}a: { id: ${SUBNETa_ID} }
      ${AWS_REGION}b: { id: ${SUBNETb_ID}  }

managedNodeGroups:
- name: nodegroup
  desiredCapacity: 2
  minSize: 1
  maxSize: 3
  instanceType: t3a.medium
  ssh:
    allow: true
    publicKeyName: toptal

EOF


#Create the cluster takes aprox 20 min
/usr/local/bin/eksctl create cluster -f /root/toptal.yaml

#We need the aws-ebs-csi-driver addon to be able to create PVs. The addon needs special IAM permissions 
eksctl utils associate-iam-oidc-provider --region=${AWS_REGION} --cluster=toptal-eksctl --approve
eksctl create iamserviceaccount --name ebs-csi-controller-sa --namespace kube-system --cluster toptal-eksctl --attach-policy-arn arn:aws:iam::aws:policy/service-role/AmazonEBSCSIDriverPolicy --approve --role-only --role-name AmazonEKS_EBS_CSI_DriverRole
eksctl create addon --name aws-ebs-csi-driver --cluster toptal-eksctl --service-account-role-arn arn:aws:iam::${ACCOUNT_ID}:role/AmazonEKS_EBS_CSI_DriverRole --force 


#Export the Worker Role Name later use
STACK_NAME=$(/usr/local/bin/eksctl get nodegroup --cluster toptal-eksctl -o json | jq -r '.[].StackName')
ROLE_NAME=$(aws cloudformation describe-stack-resources --stack-name $STACK_NAME | jq -r '.StackResources[] | select(.ResourceType=="AWS::IAM::Role") | .PhysicalResourceId')
echo "export ROLE_NAME=${ROLE_NAME}" | tee -a ~/.bash_profile

#Clone the git repo containing the Kube object definition files
git clone  https://oauth2:{{gitlab_token}}@gitlab.com/toptal-project/my-project.git /root/my-project ; cd /root/my-project

#Install docker-compose
sudo curl -L "https://github.com/docker/compose/releases/download/1.28.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
sudo chmod +x /usr/local/bin/docker-compose
sudo ln -s /usr/local/bin/docker-compose /usr/bin/docker-compose
docker-compose --version

#Adding the Postgres Password as a Kubernetest secret
mkdir /root/.docker
echo -n {{ dbname }} > /root/.docker/db_endpoint
echo -n {{postgres_pass}} > /root/.docker/db_pass
echo DBPASS={{postgres_pass}} > /root/.docker/env
echo "Create the DB secret containing the DB url and password"

aws eks update-kubeconfig --region ${AWS_REGION}  --name toptal-eksctl
/root/bin/kubectl create secret generic postgres-pass --from-file=dburl=/root/.docker/db_endpoint --from-file=password=/root/.docker/db_pass
/root/bin/kubectl get secrets

#Create the api and web Docker images and push to the Docker Hub Registry
echo {{dockerhub_token}} > ~/my_password.txt
cd /root/my-project/infrastructure-deployment
echo "CREATE THE DOCKER HUB IMAGES"
cat ~/my_password.txt | docker login --username {{dockerhub_userid}} --password-stdin
/usr/local/bin/docker-compose --env-file=/root/.docker/env up --detach
docker tag infrastructure-deployment_api {{dockerhub_userid}}/toptal-api-img:latest
docker tag infrastructure-deployment_web {{dockerhub_userid}}/toptal-web-img:latest
docker push {{dockerhub_userid}}/toptal-api-img:latest
docker push {{dockerhub_userid}}/toptal-web-img:latest

