#!/bin/bash

cd /root/my-project; .  ~/.bash_profile
export KUBECONFIG=/root/.kube/config

#Secret creation so that Kubernetes could pull images from Docker Hub
kubectl create secret docker-registry regcred --docker-server=https://index.docker.io/v1/ --docker-username={{dockerhub_userid}} --docker-password={{dockerhub_token}} --docker-email={{dockerhub_email}}
kubectl get secret regcred --output="jsonpath={.data.\.dockerconfigjson}" | base64 --decode

echo "Create the DB secret containing the DB url and password"
kubectl create secret generic postgres-pass --from-file=dburl=/root/.docker/db_endpoint --from-file=password=/root/.docker/db_pass > /tmp/dirlist 2>&1

#Verify if the storage class gp2 exists
kubectl get storageclasses.storage.k8s.io | grep gp2 || exit
kubectl apply -f infrastructure-deployment/db-claim.yaml

#Deploy the 3-tier app
kubectl apply -f infrastructure-deployment/api-deployment.yaml
kubectl apply -f infrastructure-deployment/web-deployment.yaml

sleep 100


###################################
#Monitoring infrastructure deployment
####################################

#Install and configure Helm
curl -sSL https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash
helm version --short
helm repo add stable https://charts.helm.sh/stable
helm completion bash >> ~/.bash_completion
. /etc/profile.d/bash_completion.sh
. ~/.bash_completion
source <(helm completion bash)


#Deploy Prometheus and Grafana
helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
helm repo add grafana https://grafana.github.io/helm-charts
helm repo update
kubectl create namespace prometheus
kubectl create namespace grafana


#Blackbox Prometheus container for monitoring the application

export API=$(kubectl get svc -n default toptal-api-nodejs -o jsonpath='{.status.loadBalancer.ingress[0].hostname}')
export WEB=$(kubectl get svc -n default toptal-web-nodejs -o jsonpath='{.status.loadBalancer.ingress[0].hostname}')

cat << EOF > infrastructure-deployment/prom-blackbox.yaml
extraScrapeConfigs: |
  - job_name: 'prometheus-blackbox-exporter'
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
        - http://${API}/api/status
        - http://${WEB}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: prometheus-blackbox-exporter:9115
EOF

helm install prometheus-blackbox-exporter prometheus-community/prometheus-blackbox-exporter --namespace prometheus
helm upgrade --install prometheus prometheus-community/prometheus -f infrastructure-deployment/prom-blackbox.yaml --namespace prometheus --set alertmanager.persistentVolume.storageClass="gp2",server.persistentVolume.storageClass="gp2" -f infrastructure-deployment/prom-blackbox.yaml

helm install grafana grafana/grafana \
    --namespace grafana \
    --set persistence.storageClassName="gp2" \
    --set persistence.enabled=true \
    --set adminPassword={{postgres_pass}} \
    --values infrastructure-deployment/grafana.yaml \
    --set service.type=LoadBalancer

kubectl get all -n grafana
sleep 120
echo "Grafana can be access at the following url"
export GRAFANA=$(kubectl get svc -n grafana grafana -o jsonpath='{.status.loadBalancer.ingress[0].hostname}')
echo "http://$GRAFANA"
echo "Login using: admin and below listed password. Check the additional notes under the MONITORING git section"
echo "for additional details on how to configure the Dashboards in Grafana"
kubectl get secret --namespace grafana grafana -o jsonpath="{.data.admin-password}" | base64 --decode ; echo


#Installing Loki for log monitoring
echo "INSTALLING LOKI"
helm repo add loki https://grafana.github.io/loki/charts
helm repo update
helm install loki-stack loki/loki-stack \
                               --create-namespace \
                               --namespace loki-stack \
                               --set promtail.enabled=true,loki.persistence.enabled=true,loki.persistence.size=10Gi

echo "INSTALLATION COMPLETED"
echo "The WEB can be access at the following url"
echo "http://${WEB}"
echo "The API can be access at the following url"
echo "http://${API}/api/status"

#################
##DB backup to s3
################
#Update 2023 -> Since the DB has been migrated to RDS the below procedure is obsolete.

#Create the S3 bucket and IAM user for access
#echo "CREATE THE S3 bucket"
#aws s3api create-bucket --bucket kubernetes-postgres-dumps --create-bucket-configuration LocationConstraint=us-east-2
#aws s3api put-bucket-policy --bucket kubernetes-postgres-dumps --policy file://infrastructure-deployment/s3-config/s3.json
#aws cloudfront create-distribution --distribution-config file://infrastructure-deployment/s3-config/cf.json
#aws iam create-user --user-name dbbackup
#export POLICY_ARN=$(aws iam create-policy --policy-name dbbackup-write --policy-document file://infrastructure-deployment/s3-config/iam.json | grep arn | awk -F'"' '{print $4}')
#aws iam attach-user-policy --user-name dbbackup --policy-arn ${POLICY_ARN}
#export SECRET=$(aws iam create-access-key --user-name dbbackup | grep SecretAccessKey | awk -F'"' '{print $4}')
#export ID=$(aws iam list-access-keys --user-name dbbackup | grep AccessKeyId | awk -F'"' '{print $4}')

#Create the Kube secrets for the new IAM user
#mkdir secrets
#cd secrets
#echo -n $ID > S3_ACCESS_KEY_ID
#echo -n $SECRET > S3_SECRET_ACCESS_KEY
#echo -n  kubernetes-postgres-dumps > S3_BUCKET
#kubectl create secret generic s3-postgres-backup \
#    --from-file=./S3_ACCESS_KEY_ID \
#    --from-file=./S3_SECRET_ACCESS_KEY \
#    --from-file=./S3_BUCKET
#rm -rf ../secrets

#Create the cronjob pod which create a db dump every hour and stores it on the S3 bucket
#echo "CREATE THE DB BACKUP PROCEDURE"
#cd /root/my-project
#kubectl apply -f infrastructure-deployment/s3-config/cronjob-pod.yaml

#echo "ssh as ec2_user using the below IP and RUN the POST-INSTALLATION TEST mentioned into the git repo"
#curl ifconfig.co

